div.first {
  animation: slide-out 500ms ease;
}

div.second {
  animation: slide-in 500ms ease;
}

@keyframes slide-in {
  from {
      opacity: 0%;
      transform: translateX(25vw);
  }
  to {
      transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
      opacity: 0%;
      transform: translateX(-25vw);
  }
  to {
      transform: translateX(0);
  }
}

.SignUpModal__header {
	text-align: center;
	margin-top: 20px;
}


.signup-container button {
  background-color: #00aaff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-container input {
	display: flex;
	flex-direction: column;
	width: 25vw;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px;
	transition: border-color 0.3s;
}


.signup-container input:focus {
  border-color: var(--light-blue);
  outline: none;
}

.signup-container label {
	color: var(--dark-grey);
	margin-bottom: 5px;
}

.signup-form p {
	width: 25vw;
	color: var(--accent);
	display: flex;
	justify-content: center;
	align-items: center;
}

.signup-form {
	padding: 20px;
}
