.nav-container {
    display: flex;
    flex-direction: column;
    background-image: url('https://uk.tmconst.com/production-10-67-0-7709933/images/categories/10002.jpg?auto=webp');
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 60px;
    list-style-type: none;
  }

.profile-dropdown {
    top: 40px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    list-style-type: none;
    z-index: 1;
  }

  .profile-dropdown.hidden {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

  .nav-container h2 {
    font-size: 36px;
    color: rgb(255, 255, 255);
    margin-left: 40px;
  }

  .navlinks {
    text-decoration: none;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 40px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.navlinks button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
