.profile-dropdown {
    top: 40px; /* Adjust this value as needed */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    list-style-type: none;
    z-index: 1;
  }

  .profile-dropdown.hidden {
    display: none;
  }

  .nav {
    background-image: url('https://uk.tmconst.com/production-10-67-0-7709933/images/categories/10002.jpg?auto=webp');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    line-height: 60px;
  }

  .nav h2 {
    font-size: 36px;
    color: rgb(255, 255, 255);
  }

